
# Environment files
.env
backend/.env
frontend/.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class
.env
.venv/
media/
db.sqlite3

# Django
*.sqlite3
media/
staticfiles/

# Node
node_modules/

# OS / Editor
.vscode/
.DS_Store
